

.left-btn {
  display: flex;
}

.right-btn {
  display: flex;
}

.camera-blc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.take-photo-btn {
  margin-top: 10px;
}

.photos-blc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 20px;

  .photo-img {
    margin: 0 10px;
    width: 100px;
    border-radius: 5px;
    margin-top: 3px;
  }
}

.img-blc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  button {
    margin-top: 10px;
  }
}

.delete-img-blc {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  img {
    opacity: 0.8;
    width: 15px;

    &:hover {
      opacity: 0.4;
    }

    &:active {
      opacity: 1;
    }
  }
}
