<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">AngularBase</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item language">
            <select class="form-control"
                    [(ngModel)]="this.ufw.ugs.selectedLanguage"
                     (change)="onChange($event)">
              <option *ngFor="let supportedLangs of this.ufw.ugs.knownLanguages">
                {{supportedLangs}}
              </option>
            </select>
          </li>
          <li class="nav-item home"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">{{'Home' | translate}}</a>
          </li>
          <li class="nav-item about">
            <a class="nav-link text-dark"  (click)="onAbout()">{{'About' | translate}}</a>
          </li>
          <li class="nav-item timeclock" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/time-clock']">{{'Time_Clock' | translate}}</a>
          </li>
          <li class="nav-item counter" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/counter']">Counter</a>
          </li>
          <li class="nav-item fetchdata" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/fetch-data']">Fetch data</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="modal fade" id="about-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content df_lframe">
      <div class="modal-header" style="height:70px !important">
        <div class="row form-group col-12">
          <div class="col-11 input-group" style="text-align:center;">
            <label style="color:black; font-size:x-large; font-weight:bold;">{{'About' | translate}}</label>
          </div>
          <div class="col-1" style="text-align:left;">
            <button id="modal-close" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="row form-group col-12" style="padding-top: 20px;">
          <div class="input-group">
            <label class="label-align-natural" style="color:black;">{{'About_Page_Content' | translate}}</label>
          </div>
          <div class="row form-group col-12" style="padding-top: 20px;">
            <div class="col-2 input-group">
              <label class="label-align-natural" style="color:black;">{{'Version' | translate}}: </label>
            </div>
            <div class="col-2 input-group">
              <label class="label-align-natural" style="color:black;">{{this.ufw.ugs.Version}}</label>
            </div>
          </div>
          <div class="row form-group col-12" style="padding-top: 20px;">
            <div class="col-6 input-group">
              <button class="btn btn-primary" style="width:120px;width:15vw;height:7vh" (click)="OnAboutDone()">
                {{'Close' | translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
